.aboutme{
    background-color: black;
    color:white;
    
}
.imagealign{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentalign{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutpara{
    text-align: justify;
}
.about{
    text-shadow: 1px 1px white;
    font-weight: 600;
    font-size: 40px;
    color: aqua;
}
.myimage{
    border:2px solid aqua;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}