.btnalign{
    display: flex;
    justify-content: space-between;
    
}
.livebtn{
    width:120px;
    background-color: aqua;
    padding:6px;
    border-radius: 25px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 16px;
}
.livebtn a{
    color:black;
    font-size: 18px;
    text-shadow: 1px 1px white;
    
}
.livebtn:hover{
    background-color: rgb(37, 31, 31);
    border:none;
    border-radius: 0px;
    border:2px solid aquamarine;
    
}
.livebtn:hover a{
    color:white;
    font-weight: 300;
}
.codebtn{
    width:120px;
    background-color: white;
    padding:3px;
    border-radius: 25px;
    border: none;
    border: 2px solid aqua;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.codebtn a{
    color:black;
    font-size: 18px;
    text-shadow: 1px 1px white;
}
.codebtn:hover{
    background-color: rgb(37, 31, 31);
    border:none;
    border-radius: 0px;
    border:2px solid aquamarine;
}
.codebtn:hover a{
    color:white;
    font-weight: 300;
}
.projectalign{
    background-color: black;
}
.latestwork{
    font-size: 40px;
    text-shadow: 1px 1px white;
    color: aqua;
}
.card{
    transition: 0.5s;
    border:2px solid aqua;
    box-shadow: 2px 2px 20px whitesmoke;
}
.card:hover{
    transform:scale(0.9);
}